*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.scores {
  text-align: center;
}

.board {
  background-color: #ffffff;
  min-height: 40vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: center;
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 6.5em;
  cursor: pointer;
}

.cell-x::before {
  content: 'X';
}

.cell-o::before {
  content: 'O';
}

.cell-o::before,
.cell-x::before {
  color: rgb(133, 133, 133);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3)  {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  margin-left: 20px;
  margin-right: 20px;
}

.github-img {
  height: 50px;
}

.rs-img {
  height: 70px;
}
